/* UNIVERSAL */
@font-face {
  font-family: 'streamsterregular';
  src: url('./webfontkit-streamster/streamster-webfont.woff2') format('woff2'),
       url('./webfontkit-streamster/streamster-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* font-family: 'Bangers', cursive; */
/* font-family: 'Montserrat', sans-serif; */

body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  max-width: 2000px;
}

.intro h1, .about h2, .roadmap h2 {
  font-family: 'streamsterregular';
  color: rgb(248, 3, 146);
  text-shadow: 2px 2px blue;
  font-size: 2.2em;
}

/* NAV */

.nav {
  background-color: rgb(147, 12, 91);
  position: sticky;
  top: 0;
}

.nav-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 15px;
}

.nav-button {
  margin-right: 10px;
  padding: 7px;
  border: 2px white solid;
  background-color: inherit;
  color: white;
  border-radius: 3px;
  font-family: 'Bangers', cursive;
  font-size: 1em;
}

/* BURGER MENU */

#burger-menu {
  background-color: rgb(147, 12, 91);
  transition: transform 0.4s;
  transform: translateX(-100vw, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100vh;
  display: block;
}

#burger-menu.hide {
  transform: translate3d(-40vw, 0, 0);
}

#burger-menu.show {
  transform: translate3d(-0vw, 0, 0);
}

#burger-menu a {
  text-decoration: none;
  color: inherit;
}

.burger-list {
  list-style: none;
  margin-right: 40px;
  font-family: 'Bangers', cursive;
}

.burger-list li {
  margin-top: 10px;
  margin-bottom: 20px;
}

.close-button {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

/* INSTRUCTIONS MODAL */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition-duration: 4s;
  font-size: 0.94em;
}

.modal-canvas {
  max-width: 500px;
  background-color: rgb(147, 12, 91);
  color: white;
  padding: 28px 32px 24px;
  box-shadow: 0 2px 2px 1px #0F0F0F;
  text-align: left;
}

.modal-canvas a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.modal-header {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.exit-button {
  text-align: right;
}

/* INTRO */

.pitch {
  font-weight: 500;
  font-style: italic;
  color: rgb(247, 70, 179);
}

.pitch p {
  background: -webkit-linear-gradient(rgb(245, 110, 193), rgb(211, 4, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showcase-grid-container {
  display: grid;
  grid-template-columns: [first] 50% [second] 50%;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px white solid;
  border-radius: 5px;
  background-color: inherit;
  margin-bottom: 20px;
  justify-self: center;
}

/* PURCHASE */

.purchase {
  background-color: rgba(147, 12, 91, 0.7);
  padding: 30px 0;
}

.purchase button {
  margin-right: 10px;
  padding: 7px;
  border: 2px white solid;
  background-color: rgb(229, 21, 142);
  color: white;
  border-radius: 3px;
  font-family: 'Bangers', cursive;
  font-size: 1em;
  transition: background-color 0.5s;
  font-size: 1.5em;
  padding: 20px 30px;
}

.purchase button:hover {
  background-color: rgb(246, 88, 180);
}

/* ABOUT */

.about {
  padding: 0 10px;
}

.about p {
  background: -webkit-linear-gradient(rgb(245, 110, 193), rgb(211, 4, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

/* ROADMAP */

.roadmap-card {

}